html,
body{
  font: 20px/24px "Quicksand",Arial,sans-serif;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
a{
  color: #000;
}
a.active,
a:hover{
  color: #2c98f0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.full-size{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.main{
  max-width: 1000px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.sidebar{
  width: 300px;
  position: fixed;
  background: #f2f3f7;
  min-height: 100%;
}
.sidebar img{
  width: 150px;
  border-radius: 150px;
}
.sidebar h1{
  margin: 0 0 10px;
  font: bold 20px/50px "Quicksand",Arial,sans-serif;
}
.sidebar h2{
  font: 14px/16px "Quicksand",Arial,sans-serif;
  margin: 0 0 10px;
}
.sidebar-content{
  padding: 40px 10px;
  text-align: center;
}
.navigation{
  padding: 20px 0;
  font: 16px/20px "Quicksand",Arial,sans-serif;
}
.navigation li{
  padding: 0 0 20px;
}
.content{
  margin: 0;
  padding: 0;
  float: right;
  width: calc(100% - 300px);
}
.content > li{
  padding: 0 30px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.content h2{
  font: bold 30px/50px "Quicksand",Arial,sans-serif;
  margin: 0 0 50px;
}
.home-bg{
  background: url('./img/bg.jpg') 70% top no-repeat;
  background-size: auto 160%;
  opacity: 30%;
}
.home-content{
  z-index: 2;
  padding: 200px 20%;
}
.home-content li {
  margin: 0 0 10px;
}
@media only screen and (max-width: 800px) {
  .sidebar{
    width: 100%;
    min-height: auto;
    z-index: 3;
    border-bottom: 1px solid #ccc;
  }
  .sidebar-content{
    padding: 10px;
  }
  .sidebar img{
    width: 50px;
    position: relative;
    top: 15px;
    right: 5px;
  }
  .sidebar h1{
    display: inline-block;
  }
  .navigation{
    display: none;
  }
  .content{
    width: 100%;
  }
}
