body {
  background: #fff url('img/bg.jpg') center center no-repeat;
  background-size: auto 100%;
  height: 100vh;
  margin: 0;
}
.full-size {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.left-bg { background-image: url('img/mischa.jpg'); }
.right-bg { background-image: url('img/ira.jpg'); }
.left-link { right: 47%; }
.right-link { left: 53%; }
