html,
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
h1,
h2 {
    font: 26px/50px Arial, Helvetica, sans-serif;
    margin: 0 0 15px;
    color: #333;
    text-align: center;
    width: 100%;
}
h2,
h2 select {
    font: 20px/30px Arial, Helvetica, sans-serif;
}
#content {
    height: 80vh;
    width: 90vw;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px;
    font: 15px/20px Arial, Helvetica, sans-serif;
    border: 1px solid #000;
}
#content p strong{
    display: block;
    margin: 0 0 5px;
}
#content p .new{
    color: #f00;
}